
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  overflow-x: hidden;
}


/* GENERAL REUSABLE COMPONENTS */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;

  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #234474;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;
}

.btn--full:link,
.btn--full:visited {
  background-color: #234474;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #234474;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  color: #234474;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #234474;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.list-icon {
  color: #234474;
  width: 3rem;
  height: 3rem;
}

/* TAG STYLE */
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegan {
  background-color: #94d82d;
}

.tag--vegan:hover {
  box-shadow: 0 0 0 8px rgba(148, 216, 45, 0.5);
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegetarian:hover {
  box-shadow: 0 0 0 8px rgba(81, 207, 102, 0.5);
}
.tag--paleo {
  background-color: #ffd43b;
}
.tag--paleo:hover {
  box-shadow: 0 0 0 8px rgba(255, 213, 59, 0.5);
}

.tag--gluten {
  background-color: #d7beff;
}
.tag--gluten:hover {
  box-shadow: 0 0 0 8px rgba(215, 190, 255, 0.5);
}

.tag--lactose {
  background-color: #e8c2d4;
}
.tag--lactose:hover {
  box-shadow: 0 0 0 8px rgba(232, 194, 212, 0.5);
}

.tag--pesca {
  background-color: #c2e1e8;
}
.tag--pesca:hover {
  box-shadow: 0 0 0 8px rgba(194, 225, 232, 0.5);
}

.tag--vegetarian {
  background-color: #82ae8e;
}
.tag--vegetarian:hover {
  box-shadow: 0 0 0 8px rgb(130, 174, 142, 0.5);
}

.tag--keto {
  background-color: #cec99e;
}
.tag--keto:hover {
  box-shadow: 0 0 0 8px rgba(206, 201, 158, 0.5);
}

.tag--fodmap {
  background-color: #ffa9a9;
}
.tag--fodmap:hover {
  box-shadow: 0 0 0 8px rgb(255, 169, 169, 0.5);
}
.tag--kid {
  background-color: rgb(243, 159, 82);
}
.tag--kid:hover {
  box-shadow: 0 0 0 8px rgb(243, 159, 82, 0.5);
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(230, 125, 34, 0.5);
}

/* HELPER CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center !important;
}

strong {
  font-weight: 500;
}
